body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
p {
    font-size: 1.1em;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
 a:hover {
    text-decoration: underline;
 } 

 /* Book images */
 .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
 }

 .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 25px;
    
 }

 .card{
    transform: scale(1.03);
    transition: 0.3s;
 }

 .card-body {
    text-align: center;
 }
 
 h2{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
 }

 form{
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
 }

 input {
    width: 100;
    padding: 10px;
    margin: 5px 0;
 }

 button{
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius : 5px;
 }